// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    0.3rem;
  padding-bottom: 0.3rem;
  width:100%;
  border:none;
  //border-bottom:solid 1px black;
  position:fixed;
}

/* Icon 1 */

#menu-icon {
    width: 1.5rem;
    margin-left:1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  border:none;

}

#menu-icon span {
    display: block;
    height: 2px;
    width: 100%;
    background: black;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


#menu-icon span:nth-child(1) {
  top: 0px;
}

#menu-icon span:nth-child(2) {
  margin-top: 8px;
}

#menu-icon span:nth-child(3){
    margin-top: -2px;
}


#menu-icon span:nth-child(4) {
  margin-top: 8px;
}

#menu-icon.open span:nth-child(1) {
  background: none;
}

#menu-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu-icon.open span:nth-child(4) {
  background: none;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}
